/* blog */
.blog {
}
.blog__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.blog__title {
    font-weight: 500;
    font-size: 72px;
    line-height: 98%;
}
.blog__description {
    color: var(--text_002);
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
}
.blog-nav {
}
.blog-nav__list {
}
.blog-nav__item {
}
.blog-filters {
}
.blog-filters__title {
    font-weight: 500;
    font-size: 46px;
    line-height: 112%;  
}
.blog-filters__filters {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.blog__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.blog__card:first-child {
    grid-column: span 2;
}
.blog__card {
    display: flex;
}
.blog-card {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.blog-card__img {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
}
.blog-card__category {
    position: absolute;
    top: 20px;
    left: 20px;
}
.blog-card__content {
}
.blog-card__header {
    display: flex;
    justify-content: space-between;
}
.blog-card__tags {
    display: flex;
    gap: 4px;
    margin-bottom: 32px;
}
.blog-card__tags-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    border-radius: 46px;
    background-color: #fff;
    color: var(--text_002);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    padding: 0 20px;
    text-decoration: none;
}
.blog-card__date {
    color: var(--text_003);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.blog-card__title {
    color: var(--text_001);
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
    text-decoration: none;
    margin-bottom: 8px;
}
.blog-card__type {
    color: var(--text_003);
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    margin-bottom: 32px;
}
.blog-card__intro {
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    margin-bottom: 40px;
}
.blog-card__all {
    color: var(--text_001);
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
}