/* #region blog */
.blog {
    padding-bottom: 144px;
}
.breadcrumb__blog {
    padding: 88px 0 8px 0;
}
.blog__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 44px;
}
.blog__title {
    font-weight: 500;
    font-size: 72px;
    line-height: 98%;
}
.blog__description {
    color: var(--text_002);
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
}
@media (max-width: 1440px) {
    .blog {
        padding-bottom: 112px;
    }
    .breadcrumb__blog {
        padding: 56px 0 8px 0;
    }
    .blog__header {
        margin-bottom: 32px;
    }
    .blog__title {
        font-size: 56px;
    }
    .blog__description {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .blog {
        padding-bottom: 88px;
    }
    .breadcrumb__blog {
        padding: 32px 0 8px 0;
    }
    .blog__header {
        grid-template-columns: 1fr;
        gap: 16px;
        margin-bottom: 16px;
    }
    .blog__title {
        font-size: 32px;
    }
    .blog__description {
        font-size: 14px;
    }
}
/* #endregion blog */

/* #region blog nav */
.blog-nav {
    border-top: 1px solid var(--border);
    padding: 16px 0 88px 0;
}
.blog-nav__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.blog-nav__item {
    display: inline-flex;
    text-decoration: none;
    align-items: flex-start;
}
.blog-nav__item-name {
    color: var(--text_002);
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
}
.blog-nav__item-label {
    color: var(--text_003);
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-decoration: none;
}
.blog-nav__item_active .blog-nav__item-name {
    text-decoration: underline;
}
.blog-nav__item_active .blog-nav__item-label {
    background-color: var(--main);
    color: var(--text_001);
    border-radius: 17px;
    padding: 0 6px;
    height: 20px;
}
.blog-nav__item_active .blog-nav__item-name {
    color: var(--text_001);
}
.blog-nav__mob-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    display: none;
    width: 100%;    
}
.blog-nav__mob-btn:after {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    content: "";
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3337 5.33331L7.97949 10.6875L2.66699 5.33331" stroke="black" stroke-width="1.5" stroke-linejoin="round"/></svg>') no-repeat center center;
}
@media (max-width: 1440px) {
    .blog-nav {
        padding: 16px 0 56px 0;
    }
    .blog-nav__item-name {
        font-size: 20px;
    }
    .blog-nav__item-label {
        font-size: 12px;
    }
    .blog-nav__item_active .blog-nav__item-name {
        text-decoration: underline;
    }
    .blog-nav__item_active .blog-nav__item-label {
        height: 17px;
    }
}
@media (max-width: 768px) {
    .blog-nav__mob-btn {
        display: flex;
        padding: 0;
    }
    .blog-nav.blog-nav_active .blog-nav__mob-btn:after {
        transform: rotate(180deg);
    }    
    .blog-nav__list {
        display: grid;
        grid-template-columns: 1fr;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease;
    }
    .blog-nav.blog-nav_active .blog-nav__list {
        max-height: 600px;
    }
}
/* #endregion blog nav */

/* #region blog filters */
.blog-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-bottom: 88px;
}
.blog-filters__title {
    flex-grow: 1;
    font-weight: 500;
    font-size: 46px;
    line-height: 112%;  
}
.blog-filters__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.blog-filters__wrapper {
    display: flex;
    gap: 40px;
}
.dropdown {
    position: relative;
}
.dropdown__btn {
    display: flex;
    align-items: center;
    color: var(--text_002);
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
}
.dropdown__btn:after {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    content: "";
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.3337 5.33331L7.97949 10.6875L2.66699 5.33331" stroke="black" stroke-width="1.5" stroke-linejoin="round"/></svg>') no-repeat center center;
    margin-left: 8px;
}
.dropdown__menu {
    position: absolute;
    width: 220px;
    background-color: #fff;
    border: 1px solid var(--border);
    border-radius: 24px;
    padding: 24px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    display: none;
}
.dropdown__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text_001);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;  
}
.dropdown_menu .dropdown__item {
    padding-left: 24px; 
}
.dropdown__item_active {
    color: var(--text_002);
}
.dropdown__item_active::after {
    content: "";
    width: 16px;
    height: 16px;
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 3L5.72668 11.6667L2 7.64082" stroke="%23555555" stroke-width="1.5" stroke-linejoin="round"/></svg>') no-repeat center center;
}
/* menu item icons */
.dropdown__item_icon_var1 {
    background: url('data:image/svg+xml,<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 14H2V11H5V14Z" fill="black"/><path d="M14 14H6.5V11H14V14Z" fill="black"/><path d="M5 9.5H2V6.5H5V9.5Z" fill="black"/><path d="M14 9.5H6.5V6.5H14V9.5Z" fill="black"/><path d="M5 5H2V2H5V5Z" fill="black"/><path d="M14 5H6.5V2H14V5Z" fill="black"/></svg>') no-repeat left center;
}
.dropdown_open .dropdown__menu {
    display: flex;
}
.dropdown_open .dropdown__btn:after {
    transform: rotate(180deg);
}
.blog-filters__apply {
    display: none;
}
.blog-filters__btn {
    border: none;
    background: transparent;
    padding: 0;
    display: none;
}

/* search */
.blog-filters__search-btn {
    display: block;
    border: none;
    background: transparent;
    padding: 0;
    display: none;
}
.search {
    position: relative;
    display: flex;
    width: 500px;
}
.search__input {
    background: url('data:image/svg+xml, <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.75 15.75L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="black" stroke-width="1.5" stroke-linejoin="round"/></svg>') no-repeat left center transparent;
    height: 72px;
    border: transparent;
    border-bottom: 2px solid #000;
    padding-left: 30px;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    width: 100%;
}
.search__input::placeholder {
    color: var(--text_003);
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;   
}
.search__input:focus-visible {
    outline: none;
}
.search__clear {
    position: absolute;
    top: calc(50% - 12px);
    right: 0;
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 7L12 12M12 12L17 17M12 12L17 7M12 12L7 17" stroke="%23A9A9A9" stroke-width="1.5" stroke-linejoin="round"/></svg>') no-repeat center center;
}

@media (max-width: 1440px) {
    .blog-filters {
        margin-bottom: 56px;
    }
    .blog-filters__title {
        font-size: 36px;
    }
    .dropdown__btn {
        font-size: 16px;
    }
    .search {
        position: relative;
        display: flex;
        width: 500px;
    }
    .search__input {
        height: 56px;
        font-size: 20px;
    }
    .search__input::placeholder {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .blog-filters {
        margin-bottom: 16px;
        flex-wrap: wrap;
        gap: 16px;
    }
    .blog-filters__title {
        font-size: 24px;
    }
    .blog-filters__filters {
        gap: 16px;
    }
    .blog-filters__btn {
        display: block;
    }
    .blog-filters__offcanvas {
        position: fixed;    
        top: 0;  
        bottom: 0;
        left: 0;     
        right: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 9;
    }
    .blog-filters__overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 1;
        transition: opacity .25s ease;
        z-index: -1;
    }    
    .blog-filters__offcanvas.is-opened {
        visibility: visible;
        opacity: 1;
    }
    .blog-filters__offcanvas.is-opened .blog-filters__overlay {
        background-color: #000;
        opacity: 0.5;
    }
    .blog-filters__offcanvas.is-opened .blog-filters__wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        flex-direction: column;
        gap: 8px;
        background-color: var(--bg);
        padding: 8px 8px 24px 8px;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }
    .blog-filters__offcanvas.is-opened .dropdown {
        display: block;
    }
    .blog-filters__offcanvas.is-opened .dropdown .dropdown__btn {
        display: none;
    }
    .blog-filters__offcanvas.is-opened .dropdown .dropdown__menu {
        display: flex;
        position: static;
        width: 100%;
    }
    .blog-filters__apply {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--text_001);
        border: 1px solid var(--text_001);
        border-radius: 40px;
        color: #fff;
        height: 44px;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%; 
        width: 100%;  
        padding: 0 30px;
    }
    .blog-filters__search-btn {
        display: block;
    }
    .blog-filters__search {
        width: 100%;
    }
    .search {
        height: 0;
        opacity: 0;
        transition: height, opacity .25s ease-out; 
    }
    .search.is-opened {
        height: 100%;
        opacity: 1;
    }
    .search__input {
        height: 44px;
        font-size: 16px;
    }
    .search__input::placeholder {
        font-size: 16px;
    }
}
/* #endregion blog filters */

/* #region blog tags */
.blog-tags {
    margin-bottom: 32px;
}
.blog-tags__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 4px;
}

.blog-tags__item {
    cursor: pointer;
    user-select: none;
}
.blog-tags__input {
    display: none;
}
.blog-tags__name {
    display: inline-flex;
    height: 44px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 0 20px;
    border: 1px solid transparent;
    border-radius: 46px;    
    color: var(--text_002);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%; 
    transition: 0.25s;       
}
.blog-tags__input:checked + .blog-tags__name {
    border: 1px solid var(--text_001); 
}
.blog-tags__controls {
    display: flex;
    gap: 8px;
}
.blog-tags__more-btn,
.blog-tags__reset-btn {
    display: inline-flex;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--text_001);
    padding: 0 20px;
    border: 1px solid var(--text_001);
    border-radius: 46px;    
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%; 
}
.blog-tags__reset-btn {
    background-color: transparent;
    border: 1px solid var(--text_001);
    color: var(--text_001);
}
.blog-tags__more-btn.is-open svg {
    transform: rotate(180deg);
}
/* show first 3 el */
.blog-tags__wrapper_start .blog-tags__item:nth-child(n+4) {
    display: none;
}
@media (max-width: 1440px) {
    .blog-tags {
        margin-bottom: 24px;
    }
    .blog-tags__name {
        height: 36px;
        font-size: 14px;
    }
    .blog-tags__more-btn,
    .blog-tags__reset-btn {
        height: 36px;
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .blog-tags {
        margin-bottom: 16px;
    }
    .blog-tags__name {
        height: 33px;
        font-size: 12px;
        padding: 0 8px;
    }
    .blog-tags__more-btn,
    .blog-tags__reset-btn {
        height: 28px;
        font-size: 12px;
        padding: 0 8px;
    }
}
/* #endregion blog tags */

/* #region search result */
.search-result {
    display: none;
}
.search-result__ok {
    color: var(--text_002);
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    margin-bottom: 20px;
}
.search-result__err {
    width: 100%;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 24px;
    color: var(--text_002);
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    padding: 16px;
    margin-bottom: 88px;
}
.search-result__err div {
    text-align: center;
}
.search-result__err span {
    color: var(--text_001);
}
@media (max-width: 1440px) {
    .search-result__ok {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .search-result__err {
        height: 310px;
        font-size: 20px;
        margin-bottom: 56px;
    } 
}
@media (max-width: 768px) {
    .search-result__ok {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .search-result__err {
        height: 246px;
        font-size: 16px;
        margin-bottom: 32px;
    } 
}
/* #endregion search result */

/* #region blog grid */
.blog__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.blog__footer {
    text-align: center;
}
.blog__show-more {
    background-color: var(--text_001);
    border: 1px solid  var(--text_001);
    color: #fff;
    display: inline-flex;
    align-items: center;
    height: 72px;
    gap: 12px;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    padding: 0 40px;
    border-radius: 40px;
    white-space: nowrap;
    margin-top: 28px;
}
@media (max-width: 1440px) {
    .blog__show-more {
        height: 56px;
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .blog__grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }
    .blog__show-more {
        height: 44px;
        gap: 8px;
        font-weight: 500;
        font-size: 16px;
        padding: 0 16px;
    }
}
/* #endregion blog grid */

/* #region blog card */
.blog-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.blog-card__img {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
}
.blog-card__category {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;   
    padding: 0 20px;
}
.blog-card__content {
}
.blog-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: .5;
    margin-bottom: 32px;    
}
.blog-card__tags {
    display: flex;
    gap: 4px;
}
.blog-card__tags-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    border-radius: 46px;
    background-color: #fff;
    color: var(--text_002);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    padding: 0 20px;
    text-decoration: none;
}
.blog-card__date {
    color: var(--text_003);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.blog-card__title {
    color: var(--text_001);
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
    text-decoration: none;
    margin-bottom: 8px;
}
.blog-card__type {
    color: var(--text_003);
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    margin-bottom: 32px;
    background: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 14.6206H2V9.62061H7V14.6206Z" fill="%23A9A9A9"/><path d="M14 14.6206H9V9.62061H14V14.6206Z" fill="%23A9A9A9"/><path d="M14 7.62061H2V2.62061H14V7.62061Z" fill="%23A9A9A9"/></svg>') no-repeat left center;
    padding-left: 20px;
}
.blog-card__intro {
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    margin-bottom: 20px;
}
.blog-card__all {
    border-top: 1px solid var(--border);
    padding: 20px 0;
}
.blog-card__all-link {
    color: var(--text_001);
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    background: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.33366 4.62061L13.3337 8.62061M13.3337 8.62061L9.33366 12.6206M13.3337 8.62061H2.66699" stroke="black" stroke-width="1.5" stroke-linejoin="round"/></svg>') no-repeat right center;
    padding-right: 24px;
    text-decoration: none;
}

/* blog card first */
.blog-card:first-child {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 40px;
}
.blog-card:first-child .blog-card__category {
    height: 56px;
    font-size: 19px;
}
.blog-card:first-child .blog-card__header {
    margin-bottom: 20px;  
}
.blog-card:first-child .blog-card__tags-item {
    height: 44px;
}
.blog-card:first-child .blog-card__date {
    color: var(--text_003);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.blog-card:first-child .blog-card__title {
    font-size: 46px;
    line-height: 112%;
    margin-bottom: 16px;
}
.blog-card:first-child .blog-card__type {
    font-size: 26px;
    margin-bottom: 36px;
}
.blog-card:first-child .blog-card__intro {
    font-size: 26px;
    margin-bottom: 40px;
}
.blog-card:first-child .blog-card__all-link {
    font-size: 26px;
    background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 6L20 12M20 12L14 18M20 12H4" stroke="black" stroke-width="1.5" stroke-linejoin="round"/></svg>') no-repeat right center;
    padding-right: 32px;
}
/* blog card lock */
.blog-card__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.blog-card__backdrop-img {
    margin-bottom: 10px;
}
.blog-card__backdrop-title {
    color: #fff;
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    text-align: center;
}
.blog-card_lock .blog-card__backdrop {
    display: flex;
}
.blog-card_lock .blog-card__header {
    opacity: 1;
}
.blog-card_lock .blog-card__title {
    color: var(--text_002);
}
.blog-card_lock .blog-card__all {
    display: none;
}
@media (max-width: 1440px) {
    .blog-card {
        gap: 8px;
    }
    .blog-card__category {
        height: 32px;
        font-size: 12px;
        padding: 0 16px;
    }
    .blog-card__content {
    }
    .blog-card__header {
        margin-bottom: 16px;  
    }
    .blog-card__tags {

    }
    .blog-card__tags-item {
        height: 36px;
        font-size: 14px;
    }
    .blog-card__date {
        font-size: 14px;
    }
    .blog-card__title {
        font-size: 28px;
    }
    .blog-card__type {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .blog-card__intro {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .blog-card__all {
        padding: 16px 0;
    }
    .blog-card__all-link {
        font-size: 16px;
    }
    /* blog card first */
    .blog-card:first-child .blog-card__category {
        height: 44px;
        font-size: 16px;
    }
    .blog-card:first-child .blog-card__tags-item {
        height: 36px;
    }
    .blog-card:first-child .blog-card__title {
        font-size: 36px;
        margin-bottom: 8px;
    }
    .blog-card:first-child .blog-card__type {
        font-size: 20px;
        margin-bottom: 24px;
    }
    .blog-card:first-child .blog-card__intro {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .blog-card:first-child .blog-card__all-link {
        font-size: 20px;
    }
    /* blog card lock */
    .blog-card__backdrop-title {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .blog-card {
        gap: 8px;
    }
    .blog-card__category {
        position: absolute;
        top: 16px;
        left: 16px;
        height: 24px;
        font-size: 10px;
        padding: 0 8px;
    }
    .blog-card__content {
    }
    .blog-card__header {
        margin-bottom: 16px;
    }
    .blog-card__tags-item {
        height: 28px;
        font-size: 12px;
        padding: 0 8px;
    }
    .blog-card__date {
        font-size: 12px;
    }
    .blog-card__title {
        font-size: 20px;
    }
    .blog-card__type {
        font-size: 12px;
        margin-bottom: 8px;
    }
    .blog-card__intro {
        font-size: 12px;
        margin-bottom: 8px;
    }
    .blog-card__all {
        padding: 16px 0;
    }
    .blog-card__all-link {
        font-size: 14px;
    }  
    /* blog card first */
    .blog-card:first-child {
        grid-column: span 1;
        grid-template-columns: 1fr;
        gap: 8px;
    }
    .blog-card:first-child .blog-card__category {
        height: 34px;
        font-size: 14px;
    }
    .blog-card:first-child .blog-card__tags-item {
        height: 28px;
    }
    .blog-card:first-child .blog-card__date {
        font-size: 14px;
    }
    .blog-card:first-child .blog-card__title {
        font-size: 24px;
        margin-bottom: 8px;
    }
    .blog-card:first-child .blog-card__type {
        font-size: 12px;
        margin-bottom: 8px;
    }
    .blog-card:first-child .blog-card__intro {
        font-size: 16px;
        margin-bottom: 24px;
    }
    .blog-card:first-child .blog-card__all-link {
        font-size: 16px;
    }

}
/* #endregion blog card */

/* #region blog banner */
.blog-banner {
    background: url(../img/blog-banner_back.svg) no-repeat bottom right #fff;
    padding: 44px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blog-banner__top {}
.blog-banner__subtitle {
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
    margin-bottom: 20px;
}
.blog-banner__title {
    color: var(--text_001);
    font-weight: 500;
    font-size: 72px;
    line-height: 98%;
}
.blog-banner__title span {
    color: var(--text_002);
}
.blog-banner__bottom {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: flex-end;
}
.blog-banner__count {
    font-weight: 500;
    font-size: 94px;
    line-height: 98%;
    margin-bottom: 16px;
}
.blog-banner__text {
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
}
.blog-banner__link {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--text_001);  
    color: #fff;  
    border: 1px solid var(--text_001);
    border-radius: 40px;
    height: 72px;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    padding: 0 40px;
    text-decoration: none;
    white-space: nowrap;
}
@media (max-width: 1440px) {
    .blog-banner {
        padding: 28px;
    }
    .blog-banner__top {}
    .blog-banner__subtitle {
        font-size: 28px;
        margin-bottom: 16px;
    }
    .blog-banner__title {
        font-size: 56px;
    }
    .blog-banner__count {
        font-size: 72px;
        margin-bottom: 10px;
    }
    .blog-banner__text {
        font-size: 20px;
    }
    .blog-banner__link {
        height: 56px;
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .blog-banner {
        justify-content: flex-start;
        gap: 40px;
        background: url(../img/blog-banner_back_mob.svg) no-repeat bottom right #fff;
        padding: 16px;
    }
    .blog-banner__top {}
    .blog-banner__subtitle {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .blog-banner__title {
        font-size: 32px;
    }
    .blog-banner__bottom {
        gap: 16px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }
    .blog-banner__count {
        font-size: 40px;
        margin-bottom: 16px;
        margin-bottom: 4px;
    }
    .blog-banner__text {
        font-size: 16px;
    }
    .blog-banner__link {
        height: 44px;
        font-size: 16px;
        padding: 0 16px;
    }
}
/* #endregion blog banner */

/* #region blog article */
.article-header {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    margin-bottom: 20px;
}
.article-header__image {
    width: 100%;
}
.article-header::before {
    content: '';
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
}
.article-grid {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 40px;
    padding: 0 56px 56px 0;
}
.article-header__wrapper {
    grid-column-start: 2;
    z-index: 11;
}
.article-header__title {
    color: #fff;
    font-weight: 500;
    font-size: 94px;
    line-height: 98%;
    letter-spacing: -4%;
    margin-bottom: 32px;
}
.article-header__bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
/* #endregion blog article */