/* blog */
.blog {
    padding-bottom: 144px;
}
.breadcrumb__blog {
    padding: 88px 0 8px 0;
}
.blog__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-bottom: 44px;
}
.blog__title {
    font-weight: 500;
    font-size: 72px;
    line-height: 98%;
}
.blog__description {
    color: var(--text_002);
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
}
.blog-nav {
    border-top: 1px solid var(--border);
    padding: 8px 0 88px 0;
}
.blog-nav__list {
}
.blog-nav__item {
    display: inline-block;
    text-decoration: none;
}
.blog-nav__item-name {
    position: relative;
    color: var(--text_002);
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
}
.blog-nav__item-label {
    position: absolute;
    color: var(--text_003);
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
}
.blog-nav__item_active {
    text-decoration: underline;
}
.blog-nav__item_active .blog-nav__item-name {
    color: var(--text_001);
}
.blog-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
}
.blog-filters__title {
    font-weight: 500;
    font-size: 46px;
    line-height: 112%;  
}
.blog-filters__filters {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.blog__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.blog__footer {
    text-align: center;
}
.blog__show-more {
    background-color: var(--text_001);
    border: 1px solid  var(--text_001);
    color: #fff;
    display: inline-flex;
    align-items: center;
    height: 72px;
    gap: 12px;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    padding: 0 40px;
    border-radius: 40px;
    white-space: nowrap;
}

/* blog card */
.blog-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.blog-card__img {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
}
.blog-card__category {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;   
    padding: 0 20px;
}
.blog-card__content {
}
.blog-card__header {
    display: flex;
    justify-content: space-between;
    opacity: .5;
}
.blog-card__tags {
    display: flex;
    gap: 4px;
    margin-bottom: 32px;
}
.blog-card__tags-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    border-radius: 46px;
    background-color: #fff;
    color: var(--text_002);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    padding: 0 20px;
    text-decoration: none;
}
.blog-card__date {
    color: var(--text_003);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.blog-card__title {
    color: var(--text_001);
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
    text-decoration: none;
    margin-bottom: 8px;
}
.blog-card__type {
    color: var(--text_003);
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    margin-bottom: 32px;
    background: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 14.6206H2V9.62061H7V14.6206Z" fill="%23A9A9A9"/><path d="M14 14.6206H9V9.62061H14V14.6206Z" fill="%23A9A9A9"/><path d="M14 7.62061H2V2.62061H14V7.62061Z" fill="%23A9A9A9"/></svg>') no-repeat left center;
    padding-left: 20px;
}
.blog-card__intro {
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
    margin-bottom: 40px;
}
.blog-card__all {
    border-top: 1px solid var(--border);
    padding: 20px 0;
}
.blog-card__all-link {
    color: var(--text_001);
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    background: url('data:image/svg+xml,<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.33366 4.62061L13.3337 8.62061M13.3337 8.62061L9.33366 12.6206M13.3337 8.62061H2.66699" stroke="black" stroke-width="1.5" stroke-linejoin="round"/></svg>') no-repeat right center;
    padding-right: 24px;
    text-decoration: none;
}

/* blog card first */
.blog-card:first-child {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 40px;
}
.blog-card:first-child .blog-card__category {
    height: 56px;
    font-size: 19px;
}
.blog-card:first-child .blog-card__tags {
    margin-bottom: 20px;
}
.blog-card:first-child .blog-card__tags-item {
    height: 44px;
}
.blog-card:first-child .blog-card__date {
    color: var(--text_003);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.blog-card:first-child .blog-card__title {
    font-size: 46px;
    line-height: 112%;
    margin-bottom: 16px;
}
.blog-card:first-child .blog-card__type {
    font-size: 26px;
    margin-bottom: 36px;
}
.blog-card:first-child .blog-card__intro {
    font-size: 26px;
    margin-bottom: 40px;
}
.blog-card:first-child .blog-card__all-link {
    font-size: 26px;
    background: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 6L20 12M20 12L14 18M20 12H4" stroke="black" stroke-width="1.5" stroke-linejoin="round"/></svg>') no-repeat right center;
    padding-right: 32px;
}

/* blog card lock */
.blog-card__backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.blog-card__backdrop-img {
    margin-bottom: 10px;
}
.blog-card__backdrop-title {
    color: #fff;
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
}
.blog-card_lock .blog-card__backdrop {
    display: flex;
}
.blog-card_lock .blog-card__header {
    opacity: 1;
}
.blog-card_lock .blog-card__title {
    color: var(--text_002);
}
.blog-card_lock .blog-card__all {
    display: none;
}
