
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import "common.css";
@import "../css/section/hero.css";

/* inside */
.inside {}
.inside-slider {
    padding-bottom: 88px;
}
.inside-card {
    background-color: #fff;
    border-radius: 24px;
    width: 440px!important;
    height: 338px;
    padding: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}
.inside-card__wrapper {
    display: flex;
    justify-content: space-between;    
}
.inside-card__title {
    color: var(--text_001);
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
}
.inside-card__icon {
    padding-top: 6px;
	flex-shrink: 0;
}
.inside-card__text {
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
}

/* directions */
.directions {
}
.directions__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    border-top: 2px solid var(--text_001);
    padding: 28px 0 88px 0;
}
.directions__content {

}
.directions__title {
    color: var(--text_001);
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    margin-bottom: 24px;
}
.directions__list {
    display: flex;
    gap: 8px;
}
.directions__item {
    border: 1px solid var(--text_001);
    border-radius: 40px;
    color: var(--text_001);
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    padding: 18px 40px;
    margin-bottom: 8px;
}

/* start */
.start {
}
.start__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.start__content {}

.start__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.start-item {
    background-color: #fff;
    padding: 44px;
    border-radius: 24px;
}
.start-item__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 128%;
    margin-bottom: 8px;
}
.start-item__text {
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    margin-bottom: 32px;
}
.start-item__link {
    background-color: var(--text_001);
    color: #fff;
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    padding: 8px 30px;
    text-decoration: none;
    border-radius: 40px;
}

/* about */
.about__wrapper {
    display: flex;
    gap: 8px;
}
.about__content-first {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 44px;    
    border-radius: 24px;
    background: url(../img/about_back.png) no-repeat right bottom #fff;
}
.about__content-first-text {
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
}
.about__content-first-caption {
    color: var(--text_002);
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
}
.about__photo-wrapper {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    width: 33%;    
}
.about__photo {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.about__content-second {
    width: 33%;
    padding-left: 32px;
}
.about__content-second-wrapper {
    border-top: 2px solid var(--text_001);  
    padding: 28px 0;  
}
.about__content-second-text {
    margin-bottom: 44px;
}
.about__content-second-text h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
    margin-bottom: 16px;
}
.about__content-second-text p {
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    margin-bottom: 10px;
}
.about__content-second-link {
    display: block;
    color: var(--text_001);
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    padding: 14px 0;
    width: 100%;
    border: 1px solid var(--text_001);
    text-decoration: none;
    border-radius: 40px;
    text-align: center;
}