
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import "common.css";

/* hero */
.hero {}
.hero__wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}
.hero__content-wrapper {
    width: 50%;
    background: url(../img/hero_back.png) no-repeat right 48px bottom 0 #fff;
    padding: 44px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero__title {
    color: var(--text_001);
    font-weight: 500;
    /* font-size: 94px; */
    font-size: clamp(72px, 5vw, 94px);
    line-height: 98%;
    margin-bottom: 24px;
}
.hero__subtitle {
    color: var(--text_002);
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
    margin-bottom: 32px;
}
.hero__btn-tg {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--text_001);
    color: #fff;
    border: 1px solid var(--text_001);
    height: 88px;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    padding: 0 40px;
    border-radius: 500px;
}
.hero__photo-wrapper {
    position: relative;
    width: 50%;
    border-radius: 24px;
    overflow: hidden;
}
.hero__photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero__photo-title-wrapper {
    position: absolute;
    top: 44px;
    left: 44px;
}
.hero__photo-title {
    color: #fff;
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
    margin-bottom: 4px;
}
.hero__photo-subtitle {
    color: #fff;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
}
.hero__photo-btn {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 12px;
    bottom: 44px;
    left: 44px;
    color: #fff;
    height: 56px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 40px;
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    padding: 0 30px;
}
@media (max-width: 1440px) {
    .hero__content-wrapper {
        background: url(../img/hero_back_tablet.png) no-repeat right 37px bottom 0 #fff;
        padding: 28px;
    }
    .hero__title {
        font-size: 72px;
        font-size: clamp(40px, 5vw, 72px);
    }
    .hero__subtitle {
        font-size: 28px;
    }
    .hero__btn-tg {
        font-size: 20px;
        height: 72px;
    }
    .hero__photo-title-wrapper {
        top: 28px;
        left: 28px;
    }
    .hero__photo-title {
        font-size: 28px;
    }
    .hero__photo-subtitle {
        font-size: 20px;
    }
    .hero__photo-btn {
        bottom: 28px;
        left: 28px;
        font-size: 16px;
        height: 44px;
    }
}
@media (max-width: 768px) {
    .hero__wrapper {
        flex-direction: column;
    }
    .hero__content-wrapper {
        background: url(../img/hero_back_mob.png) no-repeat right 28px bottom 0 #fff;
        padding: 16px;
        width: 100%;
    }
    .hero__title {
        font-size: 40px;
    }
    .hero__subtitle {
        font-size: 20px;
    }
    .hero__btn-tg {
        font-size: 16px;
        height: 56px;
    }
    .hero__photo-wrapper {
        width: 100%;
    }
    .hero__photo {
        position: static;
    }
    .hero__photo-title-wrapper {
        top: 16px;
        left: 16px;
    }
    .hero__photo-title {
        font-size: 20px;
    }
    .hero__photo-subtitle {
        font-size: 16px;
    }
    .hero__photo-btn {
        bottom: 16px;
        left: 16px;
        font-size: 14px;
        height: 36px;
    }
}

/* inside */
.inside {}
.inside-slider {
    padding-bottom: 88px;
}
.inside-card {
    background-color: #fff;
    border-radius: 24px;
    height: 338px;
    padding: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inside-card__wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
}
.inside-card__title {
    color: var(--text_001);
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
}
.inside-card__icon {
	flex-shrink: 0;
}
.inside-card__text {
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
}
@media (max-width: 1440px) {
    .inside-slider {
        padding-bottom: 56px;
    }
    .inside-card {
        height: 260px;
        padding: 28px;
    }
    .inside-card__title {
        font-size: 28px;
    }
    .inside-card__text {
        font-size: 16px;
    }
}
@media (max-width: 768px) {
    .inside-slider {
        padding-bottom: 32px;
    }
    .inside-card {
        height: 220px;
        padding: 16px;
    }
    .inside-card__title {
        font-size: 20px;
    }
    .inside-card__text {
        font-size: 14px;
    }
}

/* directions */
.directions {
}
.directions__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    border-top: 2px solid var(--text_001);
    padding: 28px 0 88px 0;
}
.directions__content {
}
.directions__title {
    color: var(--text_001);
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    margin-bottom: 24px;
}
.directions__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.directions__item {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid var(--text_001);
    border-radius: 40px;
    color: var(--text_001);
    height: 72px;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    padding: 0 40px;
    text-decoration: none;
}
@media (max-width: 1440px) {
    .directions {
    }
    .directions__wrapper {
        padding: 56px 0 56px 0;
    }
    .directions__content {
    }
    .directions__title {
        font-size: 20px;
    }
    .directions__item {
        height: 56px;
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    .directions {
    }
    .directions__wrapper {
        flex-direction: column;
        gap: 16px;
        padding: 16px 0 48px 0;
    }
    .directions__content {
    }
    .directions__title {
        font-size: 16px;
        margin-bottom: 16px;
    }
    .directions__item {
        height: 44px;
        font-size: 16px;
        padding: 0 16px;
    }    
}

/* start */
.start {
}
.start__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.start__content {}

.start__list {
    display: flex;
    flex-direction: column;
}
.start-item {
    display: flex;
    gap: 60px;
}
.start-item:first-child .start-item__timeline  {
    margin-top: 20px;
}
.start-item:first-child .start-item__timeline:after  {
    top: 0;
}
.start-item:last-child .start-item__timeline  {
    height: 80px;
}
.start-item__timeline {
    position: relative;
    border-left: 2px solid #000;
}
.start-item__timeline:after {
    position: absolute;
    top: 20px;
    left: -31px;
    content: "";
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url('data:image/svg+xml,<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="6" cy="6.88135" r="6" fill="black"/></svg>') no-repeat center center #FBE645;
}
.start-item__content {
    background-color: #fff;
    padding: 44px;
    border-radius: 24px;
    margin-bottom: 8px;
}
.start-item__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 128%;
    margin-bottom: 8px;
}
.start-item__text {
    background: url('data:image/svg+xml,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="0.881348" width="24" height="24" rx="12" fill="white"/><rect x="1" y="0.881348" width="24" height="24" rx="12" stroke="black" stroke-width="1.5"/><path d="M12.3255 19.8813C12.3882 18.2573 13.411 14.8734 17 14.084L17 11.6787C13.411 10.8893 12.3882 7.50543 12.3255 5.88135L9 6.43641C9.60877 10.6583 11.6751 11.6139 15.1394 12.8813C11.6751 14.1487 9.60877 15.1044 9 19.3263L12.3255 19.8813Z" fill="black"/></svg>') no-repeat left top 5px;
    padding-left: 36px;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    margin-bottom: 32px;
}
.start-item__link {
    background-color: var(--text_001);
    color: #fff;
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    padding: 8px 30px;
    text-decoration: none;
    border-radius: 40px;
}
@media (max-width: 1440px) {
    .start__content {}
    .start-item {

    }
    .start-item__title {
        font-size: 28px;
    }
    .start-item__text {
        background: url('data:image/svg+xml,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="0.881348" width="24" height="24" rx="12" fill="white"/><rect x="1" y="0.881348" width="24" height="24" rx="12" stroke="black" stroke-width="1.5"/><path d="M12.3255 19.8813C12.3882 18.2573 13.411 14.8734 17 14.084L17 11.6787C13.411 10.8893 12.3882 7.50543 12.3255 5.88135L9 6.43641C9.60877 10.6583 11.6751 11.6139 15.1394 12.8813C11.6751 14.1487 9.60877 15.1044 9 19.3263L12.3255 19.8813Z" fill="black"/></svg>') no-repeat left top 5px;
        font-size: 20px;
    }
    .start-item__link {
        font-size: 16px;
    }    
}
@media (max-width: 768px) {
    .start__wrapper {
        flex-direction: column;
    }
    .start__content {}
    .start-item {

    }
    .start-item__title {
        font-size: 20px;
    }
    .start-item__text {
        background: url('data:image/svg+xml,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="1" y="0.881348" width="24" height="24" rx="12" fill="white"/><rect x="1" y="0.881348" width="24" height="24" rx="12" stroke="black" stroke-width="1.5"/><path d="M12.3255 19.8813C12.3882 18.2573 13.411 14.8734 17 14.084L17 11.6787C13.411 10.8893 12.3882 7.50543 12.3255 5.88135L9 6.43641C9.60877 10.6583 11.6751 11.6139 15.1394 12.8813C11.6751 14.1487 9.60877 15.1044 9 19.3263L12.3255 19.8813Z" fill="black"/></svg>') no-repeat left top 5px;
        font-size: 16px;
    }
    .start-item__link {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* about */
.about__wrapper {
    display: flex;
    gap: 8px;
}
.about__content-first {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 44px;    
    border-radius: 24px;
    background: url(../img/about_back.png) no-repeat right bottom #fff;
}
.about__content-first-text {
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
}
.about__content-first-caption {
    color: var(--text_002);
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
}
.about__photo-wrapper {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
    width: 33%;    
}
.about__photo {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.about__content-second {
    width: 33%;
    padding-left: 32px;
}
.about__content-second-wrapper {
    border-top: 2px solid var(--text_001);  
    padding: 28px 0;  
}
.about__content-second-text {
    margin-bottom: 44px;
}
.about__content-second-text h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
    margin-bottom: 16px;
}
.about__content-second-text p {
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    margin-bottom: 10px;
}
.about__content-second-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    height: 44px;
    color: var(--text_001);
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;
    width: 100%;
    border: 1px solid var(--text_001);
    text-decoration: none;
    border-radius: 40px;
}
@media (max-width: 1440px) {
    .about__content-first {
        padding: 28px;    
    }
    .about__content-first-text {
        font-size: 28px;
    }
    .about__content-first-caption {
        font-size: 20px;
    }
    .about__photo-wrapper {
        position: relative;
        border-radius: 24px;
        overflow: hidden;
        width: 33%;    
    }
    .about__photo {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       object-fit: cover;
    }
    .about__content-second {
        width: 33%;
        padding-left: 32px;
    }
    .about__content-second-wrapper {
        border-top: 2px solid var(--text_001);  
        padding: 28px 0;  
    }
    .about__content-second-text h3 {
        font-size: 28px;
    }
    .about__content-second-text p {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .about__content-second-link {
        height: 44px;
        font-size: 16px;
    }    
}
@media (max-width: 768px) {
    .about__wrapper {
        flex-direction: column;
    }
    .about__content-first {
        width: 100%;
        padding: 16px;    
    }
    .about__content-first-text {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .about__content-first-caption {
        font-size: 16px;
    }
    .about__photo-wrapper {
        position: relative;
        border-radius: 24px;
        overflow: hidden;
        width: 100%;    
    }
    .about__photo {
       position: static;
       margin-bottom: 16px;
    }
    .about__content-second {
        width: 100%;
        padding-left: 0;
    }
    .about__content-second-wrapper {
        padding: 16px 0 0 0;  
    }
    .about__content-second-text {
        margin-bottom: 24px;
    }
    .about__content-second-text h3 {
        font-size: 20px;
    }
    .about__content-second-text p {
        font-size: 16px;
    }
    .about__content-second-link {
        height: 36px;
        font-size: 14px;
    }
}

/* steps */
.steps {}
.steps__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;    
}
.steps__title {
    font-weight: 500;
    font-size: 46px;
    line-height: 112%;
}
.steps__navigation {
    display: flex;
    align-items: center;
    gap: 8px;
}
.steps-card {
    position: relative;
}
.steps-card__img {
    border-radius: 24px;
    overflow: hidden;
}
.steps-card__title {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    display: none;
}
@media (max-width: 1440px) {
    .steps__title {
        font-size: 36px;
    }
}
@media (max-width: 768px) {
    .steps__header {
        margin-bottom: 16px;    
    }
    .steps__title {
        font-size: 24px;
    }
    .steps-card__title {
        font-size: 14px;
    }
}

/* posts */
.posts {

}
.posts__wrapper {
    display: flex;
}
.posts__first {
    background: url(../img/posts_back.png) no-repeat top 28px right;
    padding-right: 40px;
    width: 30%;
}
.posts__second {
    background-color: #fff;
    border-radius: 24px;
    padding: 44px;
    display: flex;
    flex-direction: column;

}
.posts__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.posts-card {
    display: flex;
    gap: 32px;
}
.posts-card__img-wrapper {
}
.posts-card__img {
}
.posts-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.posts-card__text p {
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
}
.posts-card__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.posts-card__tags a {
    color: var(--text_003);
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-decoration: none;
}
.posts-card__link {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid var(--text_001);
    border-radius: 40px;
    color: var(--text_001);
    height: 56px;
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;   
    padding: 0 30px;
    text-decoration: none;
}
@media (max-width: 768px) {
    .posts__wrapper {
        flex-direction: column;
    }
    .posts__first {
        padding-right: 0;
        width: 100%;
    }
}

/* reviews */

.reviews {
}
.reviews__wrapper {
    background-color: #fff;
    border-radius: 24px;
    padding: 44px;    
}
.reviews__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviews-card {
}
.reviews-card__icon {
    margin-bottom: 24px;
}
.reviews-card__name {
    color: var(--text_002);
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    margin-bottom: 8px;
}
.reviews-card__text {
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
    margin-bottom: 24px;
}
.reviews-card__tags a {
    color: var(--text_003);
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    text-decoration: none;
}

/* products */
.products {
}
.products__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.products-item {
    background-color: #fff;
    border-radius: 24px;
    padding: 44px;
    display: flex;
    gap: 40px;
    height: 520px;
}
.products-item__title {
    font-weight: 500;
    font-size: 46px;
    line-height: 112%;
}
.products-item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.products-item__text {
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    margin-bottom: 16px;
}
.products-item__status {
    color: var(--text_003);
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    background: url('data:image/svg+xml,<svg width="24" height="29" viewBox="0 0 24 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 8.52002V14.52L16 18.52M3 14.52C3 19.4906 7.02944 23.52 12 23.52C16.9706 23.52 21 19.4906 21 14.52C21 9.54946 16.9706 5.52002 12 5.52002C7.02944 5.52002 3 9.54946 3 14.52Z" stroke="%23A9A9A9" stroke-width="1.5" stroke-linejoin="round"/></svg>') no-repeat left center;
    padding-left: 32px;
}
.products-item__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text_001);
    border-radius: 40px;
    color: var(--text_001);
    height: 56px;
    font-weight: 500;
    font-size: 19px;
    line-height: 140%;   
    padding: 0 30px;
    text-decoration: none;
}

/* blog */
.blog {
}
.blog__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.blog-card {

}
.blog-card__img {
    margin-bottom: 8px;
}
.blog-card__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.blog-card__tags a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    border-radius: 46px;
    background-color: #fff;
    color: var(--text_002);
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    padding: 0 20px;
    text-decoration: none;
}
.blog-card__date {
    color: var(--text_003);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.blog-card__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
}

/* subscribe */
.subscribe {
}
.subscribe__wrapper {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 8px;
}
.subscribe__content {
    background-color: #FBE645;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px;
}
.section__header {
}
.section__title {
}
.subscribe__content-text {
    color: var(--text_002);
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
}
.subscribe__form {
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px;
}
.subscribe-form {
}
.subscribe-form__title {
    font-weight: 500;
    font-size: 36px;
    line-height: 128%;
}
.subscribe-form__wrapper {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    margin-bottom: 56px;
}
.subscribe-form__input {
    width: 100%;
}
.input__label {
    display: block;
    color: var(--text_002);
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
}
.input__input {
    display: block;
    width: 100%;
    height: 72px;
    border: transparent;
    border-bottom: 2px solid #000;    
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
}
.input__input:focus-visible {
    outline: none;
}
.input__input::placeholder {
    color: var(--text_003);
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
  
}
.subscribe-form__btn {
    background-color: var(--text_001);
    border: 1px solid var(--text_001);
    color: #fff;
    display: inline-flex;
    align-items: center;
    height: 72px;
    padding: 0 40px;
    text-decoration: none;
    border-radius: 40px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;

}
.subscribe-form__checkbox {
}
.checkbox {
    margin-top: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox__input {
    appearance: none;
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #000;
    overflow: hidden;
}
.checkbox__input::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  background-image: url('data:image/svg+xml,<svg width="12" height="10" viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.799988 3.99109L4.69999 8.67109L11.2 0.871094" stroke="black" stroke-width="1.5"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
}
.checkbox__input:checked::after {
  width: 24px;
  height: 24px;
  background-color: #FBE645;
}
.checkbox__label {
    padding-left: 5px;
}